@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
body {
  font-family: "Lato";
  background: #2980b9;
  overflow: visible;
  height: 100%;
  width: 70%;
}


h1 {
  color: white;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  position: relative;
  top: 50%;
  left: 25%;
  -webkit-transform: translate3d(-25%, 75%, 0);
          transform: translate3d(-25%, 75%, 0);
}

input[type=text] {
  position: relative;
  width: 40%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  width: 400px;
  top: 100%;
  left: 10%;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}